#page{
	display:none;
}

#myPerson{
	position: absolute;
    top: 40%;
    left: 48%;
    margin-top: -50px;
    margin-left: -50px;
}

.skill{
	position: absolute;
}

#skillA{
	top: 40%;
    left: 28%;
    margin-top: -50px;
    margin-left: -50px;
}

#imgSkillA{
	width:115px;
    margin: 10px;
    border:6px solid grey;
    border-radius: 500px;
    -webkit-border-radius: 500px;
    -moz-border-radius: 500px;
	-webkit-transition: 0.5s;
    transition: 0.5s;
    cursor:pointer;
}

.avatar {
    width:115px;
    margin: 10px;
    border:8px solid grey;
    border-radius: 500px;
    -webkit-border-radius: 500px;
    -moz-border-radius: 500px;
	-webkit-transition: 0.5s;
    transition: 0.5s;
    cursor:pointer;
}

.avatar:hover{
  background:#59f;
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}


html, body {
    width: 100%;
    min-height: 2000px;
    margin: 0;
    padding: 0;
}
header {
    display: block;
    margin: 200px 0;
}
header #fixed-navbar {
    display: block;
    width: 100%;
    height: 50px;
    background: black;
}
header #fixed-navbar.sticky {
    position: fixed;
    z-index: 2;
    top: 0;
	
}

#mainHeader{
    background: gray;
    height: 220px;
}